In [ ]:
  import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/slow312/SBU-AHI/main/HHA-550/diabetes-data-project/diabetic_data.csv?token=GHSAT0AAAAAACB3LCFGVVTKSN55VXMPQAY2ZCH4ZSQ')

# Preview Data

In [ ]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,NaN,NaN,Physician Referral,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,Emergency,home,Emergency Room,3,...,No,Up,No,No,No,No,No,change,Yes,NO
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,Emergency,home,Emergency Room,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,Emergency,home,Emergency Room,2,...,No,Up,No,No,No,No,No,change,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,Emergency,home,Emergency Room,1,...,No,Steady,No,No,No,No,No,change,Yes,NO

In [ ]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101763 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         91370 non-null   object
 7   discharge_disposition_id  97086 non-null   object
 8   admission_source_id       94699 non-null   object
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51804 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(10), object(40)
memory usage: 38.8+ MB

In [ ]:
# checking the unique values in each column
col = df.columns

for x in col:
  print(x, df[x].unique())

encounter_id [  2278392    149190     64410 ... 443854148 443857166 443867222]
patient_nbr [  8222157  55629189  86047875 ... 140199494 120975314 175429310]
race ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']
gender ['Female' 'Male' nan]
age ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
weight [nan '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']
admission_type_id [nan 'Emergency' 'Urgent' 'Elective' 'Newborn' 'Trauma Center']
discharge_disposition_id [nan 'home' 'acute_care' 'expired' 'left_AMA' 'hospice'
 'other_healthcare_facility']
admission_source_id ['Physician Referral' 'Emergency Room' 'Clinic Referral'
 'Transfer from a hospital'
 'Transfer from a Skilled Nursing Facility (SNF)'
 'Transfer from another health care facility' nan 'HMO Referral'
 'Court/Law Enforcement' 'childbirth'
 'Transfer from critical access hospital'
 'Transfer from hospital inpt/same fac reslt in a sep claim'
 'Transfer from Ambulatory Surgery Center']
time_in_hospital [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
payer_code [nan 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']
medical_specialty ['pediatrics' nan 'primary_care' 'cardiology' 'surgery' 'orthopedics'
 'Gastroenterology' 'Nephrology' 'psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'ob_gyn' 'oncology' 'Otolaryngology' 'endocrinology'
 'Urology' 'neurology' 'anesthesiology' 'radiology' 'Podiatry'
 'Ophthalmology' 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases'
 'Rheumatology' 'AllergyandImmunology' 'Dentistry' 'Osteopath'
 'Hematology' 'Proctology' 'Pathology' 'Dermatology' 'Speech'
 'Hospitalist' 'OutreachServices' 'DCPTEAM']
num_lab_procedures [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
num_procedures [0 5 1 6 2 3 4]
num_medications [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
number_outpatient [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
number_emergency [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
number_inpatient [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
diag_1 ['ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS'
 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM'
 'INFECTIOUS AND PARASITIC DISEASES' 'NEOPLASMS'
 'DISEASES OF THE CIRCULATORY SYSTEM' 'DISEASES OF THE RESPIRATORY SYSTEM'
 'INJURY AND POISONING' 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE'
 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE'
 'DISEASES OF THE DIGESTIVE SYSTEM'
 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES'
 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS'
 'DISEASES OF THE GENITOURINARY SYSTEM'
 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS'
 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS'
 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS' nan
 'CONGENITAL ANOMALIES'
 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING']
diag_2 [nan
 'ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS'
 'NEOPLASMS' 'DISEASES OF THE CIRCULATORY SYSTEM'
 'DISEASES OF THE RESPIRATORY SYSTEM'
 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS' 'INJURY AND POISONING'
 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE'
 'DISEASES OF THE GENITOURINARY SYSTEM'
 'INFECTIOUS AND PARASITIC DISEASES' 'DISEASES OF THE DIGESTIVE SYSTEM'
 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE'
 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES'
 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS'
 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS'
 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS'
 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM'
 'CONGENITAL ANOMALIES'
 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING']
diag_3 [nan
 'ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS'
 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES'
 'DISEASES OF THE CIRCULATORY SYSTEM' 'INFECTIOUS AND PARASITIC DISEASES'
 'DISEASES OF THE RESPIRATORY SYSTEM' 'INJURY AND POISONING' 'NEOPLASMS'
 'DISEASES OF THE GENITOURINARY SYSTEM'
 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE'
 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS'
 'DISEASES OF THE DIGESTIVE SYSTEM'
 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE'
 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS'
 'CONGENITAL ANOMALIES'
 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING'
 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS'
 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM'
 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS']
number_diagnoses [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
max_glu_serum ['None' '>300' 'Norm' '>200']
A1Cresult ['None' '>7' '>8' 'Norm']
metformin ['No' 'Steady' 'Up' 'Down']
repaglinide ['No' 'Up' 'Steady' 'Down']
nateglinide ['No' 'Steady' 'Down' 'Up']
chlorpropamide ['No' 'Steady' 'Down' 'Up']
glimepiride ['No' 'Steady' 'Down' 'Up']
acetohexamide ['No' 'Steady']
glipizide ['No' 'Steady' 'Up' 'Down']
glyburide ['No' 'Steady' 'Up' 'Down']
tolbutamide ['No' 'Steady']
pioglitazone ['No' 'Steady' 'Up' 'Down']
rosiglitazone ['No' 'Steady' 'Up' 'Down']
acarbose ['No' 'Steady' 'Up' 'Down']
miglitol ['No' 'Steady' 'Down' 'Up']
troglitazone ['No' 'Steady']
tolazamide ['No' 'Steady' 'Up']
examide ['No']
citoglipton ['No']
insulin ['No' 'Up' 'Steady' 'Down']
glyburide-metformin ['No' 'Steady' 'Down' 'Up']
glipizide-metformin ['No' 'Steady']
glimepiride-pioglitazone ['No' 'Steady']
metformin-rosiglitazone ['No' 'Steady']
metformin-pioglitazone ['No' 'Steady']
change ['No' 'change']
diabetesMed ['No' 'Yes']
readmitted ['NO' 'YES']

# Cleaning data

## Replacing encoded null values (i.e. "?", "Not Mapped") with actual null values (better for exploratory analysis)

In [ ]:
df['admission_type_id'] = df['admission_type_id'].astype(str)
df = df.replace({'admission_type_id':{'5':np.nan, '6':np.nan,'8':np.nan}})

df['discharge_disposition_id'] = df['discharge_disposition_id'].astype(str)
df = df.replace({'discharge_disposition_id':{'18':np.nan, '25':np.nan,'26':np.nan}})

df['admission_source_id'] = df['admission_source_id'].astype(str)
df = df.replace({'admission_source_id':{'9':np.nan, '15':np.nan,'17':np.nan,'20':np.nan,'21':np.nan}})

df = df.replace({'medical_specialty':{'?':np.nan, 'PhysicianNotFound':np.nan,'Resident':np.nan}})

In [ ]:
df['admission_source_id'].unique()

array(['1', '7', '2', '4', '5', '6', nan, '3', '8', '14', '10', '22',
       '11', '25', '13'], dtype=object)

In [ ]:
col_replace = ['race', 'weight', 'payer_code']

for x in col_replace:
  df[x].replace('?', np.nan, inplace = True)

In [ ]:
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', nan, 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [ ]:
df['gender'].replace("Unknown/Invalid", np.nan, inplace = True)

In [ ]:
# check the number of null values
# for x in col:
#   print(x, df[x].isna().sum())

## Grouping categories in categorical columns

In [ ]:
# Change dependent variable so it's binary
df['readmitted'].replace('>30','NO',inplace = True)
df['readmitted'].replace('<30','YES',inplace = True)

df['readmitted'].unique()

array(['NO', 'YES'], dtype=object)

###Grouping Admission Type ID

In [ ]:
# Grouping Admission Type ID
df['admission_type_id'].unique()

array([nan, '1', '2', '3', '4', '7'], dtype=object)

In [ ]:
# urgent_care = ['1','2'] # Emergency & Urgent
# for i in urgent_care:
#   df['admission_type_id'] = np.where(df['admission_type_id'] == i,'urgent_care', df['admission_type_id'])

# planned_admissions = ['3','4'] # Elective & Newborn
# for i in planned_admissions:
#   df['admission_type_id'] = np.where(df['admission_type_id'] == i,'planned_admissions', df['admission_type_id'])

# df['admission_type_id'].replace('7','tramua_center',inplace = True)

In [ ]:
df['admission_type_id'].unique()

array([nan, '1', '2', '3', '4', '7'], dtype=object)

###Grouping Discharge Disposition

In [ ]:
df['discharge_disposition_id'].unique()

array([nan, '1', '3', '6', '2', '5', '11', '7', '10', '4', '14', '8',
       '13', '12', '16', '17', '22', '23', '9', '20', '15', '24', '28',
       '19', '27'], dtype=object)

In [ ]:
home = ['1','6','8']
for i in home:
  df['discharge_disposition_id'] = np.where(df['discharge_disposition_id'] == i,'home', df['discharge_disposition_id'])

hospice = ['13','14','19','20','21']
for i in hospice:
  df['discharge_disposition_id'] = np.where(df['discharge_disposition_id'] == i,'hospice', df['discharge_disposition_id'])

acute_care = ['2','3','4','5','10','28','22','29']
for i in acute_care:
  df['discharge_disposition_id'] = np.where(df['discharge_disposition_id'] == i,'acute_care', df['discharge_disposition_id'])

other_facility = ['9','12','23','24','30','27','16','15','17']
for i in other_facility:
  df['discharge_disposition_id'] = np.where(df['discharge_disposition_id'] == i,'other_healthcare_facility', df['discharge_disposition_id'])

df['discharge_disposition_id'].replace('11','expired',inplace = True)

df['discharge_disposition_id'].replace('7','left_AMA',inplace=True)

# not documented for null values

In [ ]:
df['discharge_disposition_id'].unique()

array([nan, 'home', 'acute_care', 'expired', 'left_AMA', 'hospice',
       'other_healthcare_facility'], dtype=object)

###Group Admission Source ID

In [ ]:
df['admission_source_id'].unique()

array(['1', '7', '2', '4', '5', '6', nan, '3', '8', '14', '10', '22',
       '11', '25', '13'], dtype=object)

In [ ]:
childbirth = ['11','12','13','14','23','24']
for i in childbirth:
  df['admission_source_id'] = np.where(df['admission_source_id'] == i,'childbirth', df['admission_source_id'])

In [ ]:
df['admission_source_id'].unique()

array(['1', '7', '2', '4', '5', '6', nan, '3', '8', 'childbirth', '10',
       '22', '25'], dtype=object)

###Group Medical Specialities

In [ ]:
# Grouping Medical Specialities
df['medical_specialty'].unique()

array(['Pediatrics-Endocrinology', nan, 'InternalMedicine',
       'Family/GeneralPractice', 'Cardiology', 'Surgery-General',
       'Orthopedics', 'Gastroenterology',
       'Surgery-Cardiovascular/Thoracic', 'Nephrology',
       'Orthopedics-Reconstructive', 'Psychiatry', 'Emergency/Trauma',
       'Pulmonology', 'Surgery-Neuro',
       'Obsterics&Gynecology-GynecologicOnco', 'ObstetricsandGynecology',
       'Pediatrics', 'Hematology/Oncology', 'Otolaryngology',
       'Surgery-Colon&Rectal', 'Pediatrics-CriticalCare', 'Endocrinology',
       'Urology', 'Psychiatry-Child/Adolescent', 'Pediatrics-Pulmonology',
       'Neurology', 'Anesthesiology-Pediatric', 'Radiology',
       'Pediatrics-Hematology-Oncology', 'Psychology', 'Podiatry',
       'Gynecology', 'Oncology', 'Pediatrics-Neurology',
       'Surgery-Plastic', 'Surgery-Thoracic',
       'Surgery-PlasticwithinHeadandNeck', 'Ophthalmology',
       'Surgery-Pediatric', 'Pediatrics-EmergencyMedicine',
       'PhysicalMedicineandRehabilitation', 'InfectiousDiseases',
       'Anesthesiology', 'Rheumatology', 'AllergyandImmunology',
       'Surgery-Maxillofacial', 'Pediatrics-InfectiousDiseases',
       'Pediatrics-AllergyandImmunology', 'Dentistry', 'Surgeon',
       'Surgery-Vascular', 'Osteopath', 'Psychiatry-Addictive',
       'Surgery-Cardiovascular', 'Hematology', 'Proctology', 'Obstetrics',
       'SurgicalSpecialty', 'Radiologist', 'Pathology', 'Dermatology',
       'SportsMedicine', 'Speech', 'Hospitalist', 'OutreachServices',
       'Cardiology-Pediatric', 'Perinatology', 'Neurophysiology',
       'Endocrinology-Metabolism', 'DCPTEAM'], dtype=object)

In [ ]:
surgery = ['Surgery-General','Surgery-Cardiovascular/Thoracic','Surgery-Neuro','Surgery-Colon&Rectal','Surgery-Plastic','Surgery-Thoracic',
'Surgery-PlasticwithinHeadandNeck','Surgery-Pediatric','Surgery-Maxillofacial','Surgeon','Surgery-Vascular','Surgery-Cardiovascular','SurgicalSpecialty']
for i in surgery:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'surgery', df['medical_specialty'])

pediatrics = ['Pediatrics-Endocrinology','Pediatrics','Pediatrics-CriticalCare','Psychiatry-Child/Adolescent','Pediatrics-Pulmonology','Pediatrics-Hematology-Oncology',
'Pediatrics-Neurology','Pediatrics-EmergencyMedicine','Pediatrics-InfectiousDiseases','Pediatrics-AllergyandImmunology']
for i in pediatrics:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'pediatrics', df['medical_specialty'])

orthopedics = ['Orthopedics','Orthopedics-Reconstructive','SportsMedicine']
for i in orthopedics:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'orthopedics', df['medical_specialty'])

ob_gyn = ['Obsterics&Gynecology-GynecologicOnco','ObstetricsandGynecology','Gynecology','Obstetrics','Perinatology']
for i in ob_gyn:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'ob_gyn', df['medical_specialty'])

psychiatry = ['Psychiatry','Psychiatry-Addictive','Psychiatry-Child/Adolescent','Psychology']
for i in psychiatry:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'psychiatry', df['medical_specialty'])

primary_care = ['InternalMedicine','Family/GeneralPractice']
for i in primary_care:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'primary_care', df['medical_specialty'])

cardiology = ['Cardiology', 'Cardiology-Pediatric']
for i in cardiology:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'cardiology', df['medical_specialty'])

oncology = ['Oncology', 'Hematology/Oncology']
for i in oncology:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'oncology', df['medical_specialty'])

endocrinology = ['Endocrinology', 'Endocrinology-Metabolism']
for i in endocrinology:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'endocrinology', df['medical_specialty'])

neurology = ['Neurophysiology', 'Neurology']
for i in neurology:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'neurology', df['medical_specialty'])

anesthesiology = ['Anesthesiology-Pediatric',  'Anesthesiology']
for i in anesthesiology:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'anesthesiology', df['medical_specialty'])

radiology = ['Radiology', 'Radiologist']
for i in radiology:
  df['medical_specialty'] = np.where(df['medical_specialty'] == i,'radiology', df['medical_specialty'])

In [ ]:
df['medical_specialty'].unique()

array(['pediatrics', nan, 'primary_care', 'cardiology', 'surgery',
       'orthopedics', 'Gastroenterology', 'Nephrology', 'psychiatry',
       'Emergency/Trauma', 'Pulmonology', 'ob_gyn', 'oncology',
       'Otolaryngology', 'endocrinology', 'Urology', 'neurology',
       'anesthesiology', 'radiology', 'Podiatry', 'Ophthalmology',
       'PhysicalMedicineandRehabilitation', 'InfectiousDiseases',
       'Rheumatology', 'AllergyandImmunology', 'Dentistry', 'Osteopath',
       'Hematology', 'Proctology', 'Pathology', 'Dermatology', 'Speech',
       'Hospitalist', 'OutreachServices', 'DCPTEAM'], dtype=object)

## Convert data dictionary values to original string

In [ ]:
admission_type_dict = {
    1: 'Emergency',
    2: 'Urgent',
    3: 'Elective',
    4: 'Newborn',
    5: 'Not Available',
    6: 'NULL',
    7: 'Trauma Center',
    8: 'Not Mapped'
}

discharge_dict = {
    1: 'Discharged to home',
    2: 'Discharged/transferred to another short term hospital',
    3: 'Discharged/transferred to SNF',
    4: 'Discharged/transferred to ICF',
    5: 'Discharged/transferred to another type of inpatient care institution',
    6: 'Discharged/transferred to home with home health service',
    7: 'Left AMA',
    8: 'Discharged/transferred to home under care of Home IV provider',
    9: 'Admitted as an inpatient to this hospital',
    10: 'Neonate discharged to another hospital for neonatal aftercare',
    11: 'Expired',
    12: 'Still patient or expected to return for outpatient services',
    13: 'Hospice / home',
    14: 'Hospice / medical facility',
    15: 'Discharged/transferred within this institution to Medicare approved swing bed',
    16: 'Discharged/transferred/referred another institution for outpatient services',
    17: 'Discharged/transferred/referred to this institution for outpatient services',
    18: 'NULL',
    19: 'Expired at home. Medicaid only, hospice.',
    20: 'Expired in a medical facility. Medicaid only, hospice.',
    21: 'Expired, place unknown. Medicaid only, hospice.',
    22: 'Discharged/transferred to another rehab fac including rehab units of a hospital .',
    23: 'Discharged/transferred to a long term care hospital.',
    24: 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.',
    25: 'Not Mapped',
    26: 'Unknown/Invalid',
    30: 'Discharged/transferred to another Type of Health Care Institution not Defined Elsewhere',
    27: 'Discharged/transferred to a federal health care facility.',
    28: 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital',
    29: 'Discharged/transferred to a Critical Access Hospital (CAH).'
}

admission_source_dict = {
    1: 'Physician Referral',
    2: 'Clinic Referral',
    3: 'HMO Referral',
    4: 'Transfer from a hospital',
    5: 'Transfer from a Skilled Nursing Facility (SNF)',
    6: 'Transfer from another health care facility',
    7: 'Emergency Room',
    8: 'Court/Law Enforcement',
    9: 'Not Available',
    10: 'Transfer from critical access hospital',
    11: 'Normal Delivery',
    12: 'Premature Delivery',
    13: 'Sick Baby',
    14: 'Extramural Birth',
    15: 'Not Available',
    17: 'NULL',
    18: 'Transfer From Another Home Health Agency',
    19: 'Readmission to Same Home Health Agency',
    20: 'Not Mapped',
    21: 'Unknown/Invalid',
    22: 'Transfer from hospital inpt/same fac reslt in a sep claim',
    23: 'Born inside this hospital',
    24: 'Born outside this hospital',
    25: 'Transfer from Ambulatory Surgery Center',
    26: 'Transfer from Hospice'
}


def remap_numeric_cells(df, col_name, mapping_dict):
    df[col_name] = df[col_name].astype(str)
    numeric_mask = df[col_name].apply(lambda x: x.isnumeric())
    df.loc[numeric_mask, col_name] = df.loc[numeric_mask, col_name].astype(int).map(mapping_dict)
    df[col_name] = df[col_name].replace('nan', np.nan)

remap_numeric_cells(df, 'admission_type_id', admission_type_dict)
remap_numeric_cells(df, 'discharge_disposition_id', discharge_dict)
remap_numeric_cells(df, 'admission_source_id', admission_source_dict)

## Change diag column

In [ ]:
df['change'] = df['change'].str.replace('Ch', 'change')
# Replacing the 'E' values in the 'diag_1', 'diag_2', and 'diag_3' columns to '10' to make conversion to float possible
df['diag_1'] = df['diag_1'].astype(str).str.replace('E', '10')
df['diag_2'] = df['diag_2'].astype(str).str.replace('E', '10')
df['diag_3'] = df['diag_3'].astype(str).str.replace('E', '10')
# Replacing the 'E' values in the 'diag_1', 'diag_2', and 'diag_3' columns to '10' to make conversion to float possible
df['diag_1'] = df['diag_1'].astype(str).str.replace('V', '20')
df['diag_2'] = df['diag_2'].astype(str).str.replace('V', '20')
df['diag_3'] = df['diag_3'].astype(str).str.replace('V', '20')
# Converting the 'diag_1', 'diag_2', and 'diag_3' columns to float
df['diag_1'] = df['diag_1'].apply(lambda x: np.ceil(float(x)) if x != '?' else x)
df['diag_2'] = df['diag_2'].apply(lambda x: np.ceil(float(x)) if x != '?' else x)
df['diag_3'] = df['diag_3'].apply(lambda x: np.ceil(float(x)) if x != '?' else x)

In [ ]:
# Defining a dictionary that maps ICD code ranges to their associated descriptions
icd_code_ranges = {
    range(1, 140): 'INFECTIOUS AND PARASITIC DISEASES',
    range(140, 240): 'NEOPLASMS',
    range(240, 280): 'ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS',
    range(280, 290): 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS',
    range(290, 320): 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS',
    range(320, 390): 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS',
    range(390, 460): 'DISEASES OF THE CIRCULATORY SYSTEM',
    range(460, 520): 'DISEASES OF THE RESPIRATORY SYSTEM',
    range(520, 580): 'DISEASES OF THE DIGESTIVE SYSTEM',
    range(580, 630): 'DISEASES OF THE GENITOURINARY SYSTEM',
    range(630, 680): 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM',
    range(680, 710): 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE',
    range(710, 740): 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE',
    range(740, 760): 'CONGENITAL ANOMALIES',
    range(760, 780): 'CERTAIN CONDITIONS ORIGINATING IN THE PERINATAL PERIOD',
    range(780, 800): 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS',
    range(800, 1000): 'INJURY AND POISONING',
    range(10000, 10999): 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING',
    range(2000, 2099): 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES',
}
# Defining a function that converts the values within the 'diag_1', 'diag_2', and 'diag_3' columns to their ICD-9 code descriptions
def icd_code_to_description(icd_code):
    if icd_code == '?':  # if value is '?', return it unchanged
        return icd_code
    for code_range, description in icd_code_ranges.items():
        if int(icd_code) in code_range:
            return description
    return 'UNKNOWN'

In [ ]:
# Applying the icd_code_to_description function to the 'diag_1', 'diag_2', and 'diag_3' columns
df['diag_1'] = df['diag_1'].apply(icd_code_to_description)
df['diag_2'] = df['diag_2'].apply(icd_code_to_description)
df['diag_3'] = df['diag_3'].apply(icd_code_to_description)

In [ ]:
df['diag_1'].replace('?',np.nan,inplace=True)
df['diag_2'].replace('?',np.nan,inplace=True)
df['diag_3'].replace('?',np.nan,inplace=True)

## Convert to CSV

In [ ]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,NaN,NaN,Physician Referral,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,Emergency,home,Emergency Room,3,...,No,Up,No,No,No,No,No,change,Yes,NO
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,Emergency,home,Emergency Room,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,Emergency,home,Emergency Room,2,...,No,Up,No,No,No,No,No,change,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,Emergency,home,Emergency Room,1,...,No,Steady,No,No,No,No,No,change,Yes,NO

In [ ]:
# checking the unique values in each column
col = df.columns

for x in col:
  print(x, df[x].unique())

encounter_id [  2278392    149190     64410 ... 443854148 443857166 443867222]
patient_nbr [  8222157  55629189  86047875 ... 140199494 120975314 175429310]
race ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']
gender ['Female' 'Male' nan]
age ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
weight [nan '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']
admission_type_id [nan 'Emergency' 'Urgent' 'Elective' 'Newborn' 'Trauma Center']
discharge_disposition_id [nan 'home' 'acute_care' 'expired' 'left_AMA' 'hospice'
 'other_healthcare_facility']
admission_source_id ['Physician Referral' 'Emergency Room' 'Clinic Referral'
 'Transfer from a hospital'
 'Transfer from a Skilled Nursing Facility (SNF)'
 'Transfer from another health care facility' nan 'HMO Referral'
 'Court/Law Enforcement' 'childbirth'
 'Transfer from critical access hospital'
 'Transfer from hospital inpt/same fac reslt in a sep claim'
 'Transfer from Ambulatory Surgery Center']
time_in_hospital [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
payer_code [nan 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']
medical_specialty ['pediatrics' nan 'primary_care' 'cardiology' 'surgery' 'orthopedics'
 'Gastroenterology' 'Nephrology' 'psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'ob_gyn' 'oncology' 'Otolaryngology' 'endocrinology'
 'Urology' 'neurology' 'anesthesiology' 'radiology' 'Podiatry'
 'Ophthalmology' 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases'
 'Rheumatology' 'AllergyandImmunology' 'Dentistry' 'Osteopath'
 'Hematology' 'Proctology' 'Pathology' 'Dermatology' 'Speech'
 'Hospitalist' 'OutreachServices' 'DCPTEAM']
num_lab_procedures [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
num_procedures [0 5 1 6 2 3 4]
num_medications [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
number_outpatient [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
number_emergency [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
number_inpatient [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
diag_1 ['ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS'
 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM'
 'INFECTIOUS AND PARASITIC DISEASES' 'NEOPLASMS'
 'DISEASES OF THE CIRCULATORY SYSTEM' 'DISEASES OF THE RESPIRATORY SYSTEM'
 'INJURY AND POISONING' 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE'
 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE'
 'DISEASES OF THE DIGESTIVE SYSTEM'
 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES'
 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS'
 'DISEASES OF THE GENITOURINARY SYSTEM'
 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS'
 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS'
 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS' nan
 'CONGENITAL ANOMALIES'
 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING']
diag_2 [nan
 'ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS'
 'NEOPLASMS' 'DISEASES OF THE CIRCULATORY SYSTEM'
 'DISEASES OF THE RESPIRATORY SYSTEM'
 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS' 'INJURY AND POISONING'
 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE'
 'DISEASES OF THE GENITOURINARY SYSTEM'
 'INFECTIOUS AND PARASITIC DISEASES' 'DISEASES OF THE DIGESTIVE SYSTEM'
 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE'
 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES'
 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS'
 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS'
 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS'
 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM'
 'CONGENITAL ANOMALIES'
 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING']
diag_3 [nan
 'ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES, AND IMMUNITY DISORDERS'
 'SUPPLEMENTARY CLASSIFICATION OF FACTORS INFLUENCING HEALTH STATUS AND CONTACT WITH HEALTH SERVICES'
 'DISEASES OF THE CIRCULATORY SYSTEM' 'INFECTIOUS AND PARASITIC DISEASES'
 'DISEASES OF THE RESPIRATORY SYSTEM' 'INJURY AND POISONING' 'NEOPLASMS'
 'DISEASES OF THE GENITOURINARY SYSTEM'
 'DISEASES OF THE MUSCULOSKELETAL SYSTEM AND CONNECTIVE TISSUE'
 'SYMPTOMS, SIGNS, AND ILL-DEFINED CONDITIONS'
 'DISEASES OF THE DIGESTIVE SYSTEM'
 'DISEASES OF THE SKIN AND SUBCUTANEOUS TISSUE'
 'MENTAL, BEHAVIORAL AND NEURODEVELOPMENTAL DISORDERS'
 'CONGENITAL ANOMALIES'
 'SUPPLEMENTARYCLASSIFICATION OF EXTERNAL CAUSES OF INJURY AND POISONING'
 'DISEASES OF THE NERVOUS SYSTEM AND SENSE ORGANS'
 'COMPLICATIONS OF PREGNANCY, CHILDBIRTH, AND THE PUERPERIUM'
 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS']
number_diagnoses [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
max_glu_serum ['None' '>300' 'Norm' '>200']
A1Cresult ['None' '>7' '>8' 'Norm']
metformin ['No' 'Steady' 'Up' 'Down']
repaglinide ['No' 'Up' 'Steady' 'Down']
nateglinide ['No' 'Steady' 'Down' 'Up']
chlorpropamide ['No' 'Steady' 'Down' 'Up']
glimepiride ['No' 'Steady' 'Down' 'Up']
acetohexamide ['No' 'Steady']
glipizide ['No' 'Steady' 'Up' 'Down']
glyburide ['No' 'Steady' 'Up' 'Down']
tolbutamide ['No' 'Steady']
pioglitazone ['No' 'Steady' 'Up' 'Down']
rosiglitazone ['No' 'Steady' 'Up' 'Down']
acarbose ['No' 'Steady' 'Up' 'Down']
miglitol ['No' 'Steady' 'Down' 'Up']
troglitazone ['No' 'Steady']
tolazamide ['No' 'Steady' 'Up']
examide ['No']
citoglipton ['No']
insulin ['No' 'Up' 'Steady' 'Down']
glyburide-metformin ['No' 'Steady' 'Down' 'Up']
glipizide-metformin ['No' 'Steady']
glimepiride-pioglitazone ['No' 'Steady']
metformin-rosiglitazone ['No' 'Steady']
metformin-pioglitazone ['No' 'Steady']
change ['No' 'change']
diabetesMed ['No' 'Yes']
readmitted ['NO' 'YES']

In [ ]:
df.to_csv('Cleaned.csv')

In [ ]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,NaN,NaN,Physician Referral,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,Emergency,home,Emergency Room,3,...,No,Up,No,No,No,No,No,change,Yes,NO
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,Emergency,home,Emergency Room,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,Emergency,home,Emergency Room,2,...,No,Up,No,No,No,No,No,change,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,Emergency,home,Emergency Room,1,...,No,Steady,No,No,No,No,No,change,Yes,NO

max glucose serum, A1Cresult need to be reformatted (try oversampling)